html
{
    font-size: 20px;

    @include tablet
    {
        font-size: 22px;
    }
    @include desktopHD
    {
        font-size: 24px;
    }
}

body
{
    -webkit-font-smoothing: antialiased;
    @include nitti;
    font-size: 1rem;
    line-height: 1.45;

    color: $black;
    background-color: $white;

    transition: $animation-transition;

}

p, ul,  {
	margin-bottom: 1.45rem;
}
