<nav class="caps fixed top-0 left-0 right-0 bg-white-95 smoke border-bottom border-grey transition-bouncy px2">
  <ul class="list-reset bold max-width-2 flex justify-end mb0 mx-auto">

    <li class="block">
      <a class="text-decoration-none inline-block py2 px1 left states transition-fast transition-slow block" href="/">about</a>
    </li>

    <li class="block">
      <a class="text-decoration-none inline-block py2 px1 left states transition-fast transition-slow block" href="/post/">blog</a>
    </li>


  </ul>
</nav>
