{{ partial "header" . }}
<div class="mt4 mx-auto max-width-2 overflow-hidden longform fff">

	<h1 class="h1 mt3 bold">Hey, I'm Darin</h1>
	<p class="h3 bold mb3">A product designer focused on building systems</p>

	<p>I'm an inter-disciplinary digital designer living in Sofia. Currently I work at <a href="http://thecrazyones.agency">The Crazy Ones</a>, a product design shop I co-founded with my partner <a href="http://kalinaivanova.com">Kalina</a>. Through the years
	I've done work for early stage startups as well as major corporations. Before I switched to product, I used to work in advertising. I try to spend more time away from technology and digital distractions.</p>

	<h2 class="h2 bold grey">I'm currently working on</h2>

	<ul>
		<li>a digital health and fitness platform</li>
		<li>an online publication covering yoga</li>
		<li>a polling platform utilizing conversational UI</li>
		<li>a complete reboot of The Crazy Ones. Here's a hint: 🚀🌱</li>
		<li>NDA</li>
	</ul>

	<h2 class="h2 bold grey">I'm really passionate about</h2>
	<ul>
		<li>large scale design systems</li>
		<li>content-driven design</li>
		<li>responsive typography for screens</li>
		<li>designing with code</li>
		<li>microinteraction prototyping</li>
		<li>atomic CSS</li>
	</ul>

	<h2 class="h2 bold grey">I'm also having fun</h2>

	<ul>
		<li>exploring product improvement ideas on <a href="http://www.improved.design" target="blank">improved.design</a></li>
		<li>designing a better battery charger LED notification standard</li>
		<li>building the <strong>ultimate</strong> responsive typographic scale</li>
	</ul>

	<h2 class="h2 bold grey">I'm currently trying to</h2>

	<ul>
		<li>learn the basics of Swift</li>
		<li>get started with React</li>
		<li>improve my Terminal skills</li>
		<li>get back to doing some illustration</li>
	</ul>

  <p>My site is never finished and I try not to spend too much time on it. Follow me on <a href="https://twitter.com/deezel" target="blank" class="twitter">Twitter</a>, <a href="https://medium.com/@deezel" target="blank" class="medium">Medium</a>, <a href="https://www.instagram.com/ddimitrovd/" target="blank" class="instagram">Instagram</a> and <a href="https://dribbble.com/deezel" target="blank" class="dribbble">Dribbble</a> to catch up with what I'm up to.</p>

</div>
{{partial "footer" .}}
